.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040404;
    justify-content: center;
    }
    .aboutus{
    display: flex;
    flex-direction: row;
    color: #E31212;
    background-color: #040404;
    align-items: center;
    gap: 50px;
    padding: 0px 50px;
    }
    #newarrival{
    background-color: #040404;
    padding: 24px;
    gap: 18px;
    }
    .item{
        display: flex; 
        flex-direction: row; 
        padding: 40px;
        gap: 60px;
        color: #B39B9B;
        
    }
    .itemclick{
        background-color: #040404;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 36px;
    }