*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
h1{
    color: #E31212;
    font-size: 60px;
}
header {
    background-color: black;
    display: flex;
    padding: 18px;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
footer{
    background-color: #040404;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer img{
    width: 20px;
    height: 20px;
}
.item{
    display: flex; 
    flex-direction: row; 
    padding: 40px;
    gap: 60px;
    color: #B39B9B;
    background-color: #040404;
    
}
button{
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.judul{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040404;
    justify-content: center;
    color: #E31212;
    }